<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4">
                    <h3>Localisation</h3>
                    <p>15 Boulevard des Champs Elysées
                        <br>75016 Paris, France</p>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Réseaux sociaux</h3>
                    <ul class="list-inline elmt-social-networks">
                        <li>
                            <a href="https://www.linkedin.com/in/j%C3%A9r%C3%A9my-gaultier-38986a12b/" target="_blank"><i class="fab fa-linkedin fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="https://github.com/webmezenc/" target="_blank"><i class="fab fa-github fa-3x"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="footer-col col-md-4">
                    <h3>About Freelancer</h3>
                    <p>Freelance is a free to use, open source Bootstrap theme created by <a href="http://startbootstrap.com">Start Bootstrap</a>.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright &copy; Jérémy Gaultier 2018
                </div>
            </div>
        </div>
    </div>
</footer>
<script type="text/javascript">
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });
</script>