<ul class="nav navbar-nav navbar-right">
    <li class="hidden">
        <a href="#page-top"></a>
    </li>
    <li class="page-scroll">
        <a href="#portfolio">Portfolio</a>
    </li>
    <li class="page-scroll">
        <a href="#about">About</a>
    </li>
    <li class="page-scroll">
        <a href="#contact">Contact</a>
    </li>
    <li class="page-scroll">
        <a href="/register" data-toggle="tooltip" data-placement="bottom" title="Inscrivez-vous sur le blog">
            <i class="fas fa-user-edit"></i>
        </a>
    </li>
</ul>