<ul class="nav navbar-nav navbar-right">
    <li class="hidden">
        <a href="#page-top"></a>
    </li>
    <li class="page-scroll">
        <a href="#portfolio">Portfolio</a>
    </li>
    <li class="page-scroll">
        <a href="#about">About</a>
    </li>
    <li class="page-scroll">
        <a href="#contact">Contact</a>
    </li>
</ul>