{% extends 'admin/base.html.twig' %}

{% block contenu %}
<div class="jumbotron">
    <h1>Administration du blog</h1>
    <p> Bienvenue sur l'administration du blog, vous pouvez : </p>
    <ul>
        <li>
            <a href="/admin/post">Gérer les articles</a>
        </li>
        <li>
            <a href="/admin/comments">Gérer les commentaires</a>
        </li>
        <li>
            <a href="/admin/user">Gérer les utilisateurs</a>
        </li>
    </ul>
</div>
{% endblock %}
