{% extends 'admin/base.html.twig' %}

{% block contenu %}
<div class="row">
    <div class="col-12 elmt-std-margin">
        <h1>Publier un commentaire</h1>
        {% if msg is defined %}
            {% if msg == "commentSuccessfullPublish" %}
                <div class="alert alert-success">
                    <p>Ce commentaire a été publié avec succès, nous vous initons à retourner à la <a href="/admin/comments">liste des commentaires</a>.</p>
                </div>
            {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}