<p>Bonjour,</p>
<p>L'un de vos visiteurs vient de vous envoyer un message,
    voici les informations relatives à celui-ci : </p>

<p>
    <b>Sujet</b> : {{ subject|escape }}
</p>
<p>
    <b>Message</b> : {{ message|escape }}
</p>
<p>
    Pour répondre à ce message, il vous suffit d'utiliser le bouton répondre de votre client mail.
</p>