<p>Bonjour,</p>
<p>Nous vous remercions de votre inscription sur le blog.</p>
<p>Toutefois, avant de pouvoir y participer, votre compte doit être validé par l'administrateur.</p>
<p>Vous recevrez un nouvel email une fois votre compte validé/p>
<p>
    Cordialement,
<br />
    L'équipe du blog
</p>
