<div class="row">
    <div class="col-12">
        <ul class="pager">
            <li class="active"><a href="/admin/post">Gérer les articles</a></li>
            <li><a href="/admin/post/add">Ajouter un article</a></li>
        </ul>
    </div>
</div>