{% extends "layout/base.html.twig" %}

{% block zonecontenu %}
    <div class="alert alert-danger">
        <p>
            <b>Une erreur interne est survenue sur l'application</b>
        </p>
        <p class="text-center">
            {{ errorMSG }}
        </p>
        {%  if trace is not empty %}
            <p class="text-center">
                {{ trace }}
            </p>
        {% endif %}
    </div>
{% endblock %}