{% extends "layout/base.html.twig" %}


{% block zonecontenu %}
    <section>
        <div class="alert alert-danger">
            <p>Vous avez été correctement déconnecté du blog.</p>
        </div>
    </section>
{% endblock %}