{% extends "layout/base.html.twig" %}

{% block zonecontenu %}
    <section class="elmt-articles">
        <h1>Mes articles</h1>

        {% if postList|length == 0 %}
            <div class="alert alert-info">
                Nous sommes désolés, aucun article n'est actuellement disponible sur le blog, nous vous invitons à revenir ultérieurement.
            </div>
        {% else %}

            {% for post in postList %}
                {% set title = post.title %}
                {% set headcontent = post.headcontent %}
                {% set date = post.dateUpdate|date("d-m-Y H:i") %}
                {% set slug = post.slug %}

                {% include "content/post/post-list-content.html.twig" with { "title": title, "headcontent": headcontent, "date": date, "slug":slug } %}
            {% endfor %}

            {# Display the navigation element #}
            {%  if postNumber > 10 %}

                {% set pageNumber = postNumber / 10 %}

                <div class="text-right nav-menu">
                    {% for page in 0..pageNumber|round(0,'floor') %}

                        {% set isActualPage = page == actualPage ? true : false %}
                        {% include "content/fragment/menu-navigation.html.twig" with { "slug":"/post/list", "page": page, "isActualPage":isActualPage } %}
                    {% endfor %}
                </div>

            {% endif %}

        {% endif %}
    </section>
{%  endblock %}