<article class="elmt-blog-list">
    <header>
        <span class="title">{{ title }}</span>
        <span class="date">{{ date }}</span>
    </header>
    <section>
        {{ headcontent }}
        <div class="btn-nav">
            <a class="btn btn-default" href="{{ slug }}">Consulter l'article</a>
        </div>
    </section>
</article>